@charset "ISO-8859-1";
#portada{
	width: 300px;
	height: 450px;
	position: absolute;
	top: 120px;
	left: 120px;
}

#info{
	width: 1000px;
	height: 200px;
	position: absolute;
	top: 120px;
	left: 450px;
}

#titulo{
	width: 1000px;
	height: 100px;
	text-align: center;
	color: #979797;
	font-size: 40px;
}

#otro{
	width: 1000px;
	height: 100px;
}

#desc{
	width: 1000px;
	height: 400px;
	position: absolute;
	top: 350px;
	left: 450px;
	background-color: yellow;
}